@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: var(--font-jetbrains-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-jetbrains-mono);
  /* Force sans to also use mono if "total app" implies everything */
}

@media (prefers-color-scheme: dark) {
  :root {
    @layer utilities {
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }

    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-main);
  background: var(--background);
  color: var(--foreground);
}
